<strong>Hi, {{ provider }}</strong>
<p>There is a new cancellation, see below:</p>
<p>
  <strong>Customer: </strong>{{ user }} <br />
  <strong>Date/Time: </strong>{{ date }} <br />
  <small>
    This date and time is now available for new appointments.
  </small>
</p>
